name: Actualizare Zilnica Cote Dunare

on:
  schedule:
    - cron: '30 7 * * *' # Ora 07:30 UTC înseamnă 09:30 ora României
  workflow_dispatch: # Permite rularea manuală

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout cod
        uses: actions/checkout@v3

      - name: Configurare Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalare dependente
        run: |
          pip install -r requirements.txt

      - name: Rulare Scraper
        run: python scraper.py

      - name: Commit si Push date noi
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Actualizare date: $(date)" || exit 0
          git push
